/*
Theme Name: twentyseventeen
Theme URI: http://start-solutions.net/julias
Author: Mohamad Elbialy
Author URI: http://start-solutions.net/
Description: style of roubsta plugin
Text Domain: roubsta

*/
/*break points*/
/*plugin-table layout  =========================================*/
.users .users-table {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 1200px) {
    .users .users-table {
      width: 48.5714285714%;
      float: left;
      margin-right: 2.8571428571%; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*compass resets*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 2; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  box-sizing: border-box; }

ul {
  list-style-type: none; }

body {
  font-family: "Open Sans", sans-serif; }

.required {
  color: red; }

.container {
  margin-top: 50px;
  margin-bottom: 50px; }

.site-content {
  margin-bottom: 0px !important; }

.page-content {
  background-color: white;
  width: 100%; }

.site-branding img {
  width: 170px; }

.site-header:before, .site-footer:before, .banner:after {
  background: none; }

@media (min-width: 768px) {
  .banner .banner-text {
    top: 4vw; } }

.banner .banner-text .text {
  text-align: center; }
  .banner .banner-text .text .btn {
    display: none; }

.woocommerce-loop-product__title {
  font-weight: bold; }

.home .woocommerce-ordering {
  margin-bottom: 25px;
  float: right; }

#coupon-popup .modal-content {
  width: 100% !important;
  overflow: hidden; }
  @media (min-width: 768px) {
    #coupon-popup .modal-content {
      width: 85% !important; } }
  @media (min-width: 1200px) {
    #coupon-popup .modal-content {
      width: 50% !important; } }

#coupon-popup .close {
  margin-top: -20px; }

#coupon-popup .field-group label {
  font-weight: bold; }

#coupon-popup .field-group input {
  background-color: #dcdcdc;
  width: 35%;
  margin-bottom: 10px; }

.copoun-modal-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 1.2; }

.copoun-modal-description {
  font-size: 13px;
  margin: 10px 0px; }

fieldset {
  border: none; }

.addon-section h2.title {
  font-weight: bold;
  font-size: 1.5em; }

h3.addon-title {
  font-size: 1.2em;
  font-weight: bold; }

.woocommerce div.product .woocommerce-tabs .entry-content .comment-reply-title {
  font-size: 27px !important; }
  @media (min-width: 768px) {
    .woocommerce div.product .woocommerce-tabs .entry-content .comment-reply-title {
      font-size: 35px !important; } }

fieldset {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

.addon-options span:last-child {
  display: block;
  float: none; }
  @media (min-width: 768px) {
    .addon-options span:last-child {
      display: inline;
      float: right; } }

.variations_form fieldset {
  margin: 0 1%;
  width: 108%; }
  @media (min-width: 768px) {
    .variations_form fieldset {
      width: 102%; } }

.woocommerce .quantity .qty {
  width: 100%; }

.quantity {
  width: 14.2857142857%;
  float: left;
  margin-right: 2.8571428571%; }
  @media (min-width: 768px) {
    .quantity {
      width: 8.2857142857%;
      float: left;
      margin-right: 2.8571428571%; } }
  @media (min-width: 1200px) {
    .quantity {
      width: 10%;
      float: left;
      margin-right: 2.8571428571%; } }

.single_add_to_cart_button {
  width: 74.2857142857%;
  float: right;
  margin-right: 0; }
  @media (min-width: 768px) {
    .single_add_to_cart_button {
      width: 48.5714285714%;
      float: right;
      margin-right: 0; } }

.woocommerce div.product form.cart .button {
  padding: 10px 35px 10px 36px !important; }

.woocommerce div.product form.cart .button:before {
  left: 10px !important; }

.pine_alph_qty {
  width: 50%; }
  @media (min-width: 768px) {
    .pine_alph_qty {
      float: none;
      width: 15%; } }

.pine_alph_ccs {
  margin-bottom: 5px; }

.num-option span:last-child input {
  width: 53%; }
  @media (min-width: 768px) {
    .num-option span:last-child input {
      width: 18%; } }
  @media (min-width: 1200px) {
    .num-option span:last-child input {
      width: 50%; } }

.cart_item .product-quantity {
  overflow: hidden !important; }

.cart_item .quantity {
  margin-right: 23px;
  float: right; }
  @media (min-width: 768px) {
    .cart_item .quantity {
      margin-left: 0px;
      margin-right: 31px; } }
  @media (min-width: 1200px) {
    .cart_item .quantity {
      margin-left: 0px;
      margin-right: 0px;
      float: none; } }

.woocommerce-page table.cart td.actions .coupon input {
  font-size: 9px; }
  @media (min-width: 768px) {
    .woocommerce-page table.cart td.actions .coupon input {
      font-size: 15px; } }

.woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
  padding: 13px 7px !important;
  margin-right: 10px; }

.woocommerce-cart .woocommerce .quantity .qty {
  width: 170% !important; }

#primary .page .entry-content h2 {
  font-size: 22px; }
  @media (min-width: 1200px) {
    #primary .page .entry-content h2 {
      font-size: 28px; } }

.woocommerce ul.order_details li {
  border-right: none;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .woocommerce ul.order_details li {
      margin-bottom: 0px;
      border-right: 1px dashed #d3ced2; } }

.woocommerce-notice {
  margin-bottom: 10px; }

/*contact us layout */
.contact-info {
  overflow: hidden;
  padding: 0px 10px; }

.contact-page article {
  overflow: hidden; }

.contact-page .site-main {
  background: white;
  overflow: hidden !important; }

.page-content, .entry-content, .entry-summary {
  margin: 0px;
  padding: 0px 10px;
  margin-top: 10px; }
  @media (min-width: 768px) {
    .page-content, .entry-content, .entry-summary {
      margin-top: 0px; } }
  @media (min-width: 1200px) {
    .page-content, .entry-content, .entry-summary {
      padding: 0px 100px 0px 0px; } }

.contact-page .page-content {
  padding: 10px; }

.contact-page .container {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 0px; }

.contact-page .entry-header {
  margin: 25px 10px; }

.contact-info ul {
  list-style-type: none;
  margin: 0; }

.contact-info h3 {
  color: #f6a8c6;
  margin-bottom: 5px;
  font-weight: bold; }

.gmap {
  margin: 10px 0px; }

.contact-page .entry-title {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold; }

.contact-page input[type="text"], .contact-page input[type="email"], .contact-page input[type="url"], .contact-page input[type="password"], .contact-page input[type="search"] {
  width: 100%; }

.search-form {
  margin-top: 20px;
  margin-bottom: 20px; }
  .search-form .search {
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #008000;
    padding: 5px;
    width: 60px;
    cursor: pointer; }
    .search-form .search:hover {
      color: #008000;
      background: #fff; }

.users .users-table td {
  text-align: center;
  border-bottom: solid 1px #444;
  border-right: solid 1px #444;
  text-transform: capitalize; }

.users .users-table th {
  border-bottom: solid 1px #444444;
  text-align: center; }

.copyright-notice {
  text-align: center; }

/*# sourceMappingURL=style.css.map */