
.search-form{
    margin-top:20px;
    margin-bottom:20px;

    .search{
        border:none;
        border-radius:10px;
        color:#fff;
        background:#008000;
        padding:5px;
        width: 60px;
        cursor:pointer;
        &:hover{
            color:#008000;
            background: #fff;
        }
    }
}
.users{
    .users-table{
    td{
        text-align: center;
        border-bottom:solid 1px #444;
        border-right: solid 1px #444; 
        text-transform:capitalize;
        } 
        th{
        border-bottom:solid 1px #444444;
        text-align: center;
        }
    }
}

    
